body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right , rgb(150, 9, 9),rgb(151, 148, 148),black);
}

.container {
  height: 100vh;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.card {
  background-color: #220717;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin-top: 100px;
  display: grid;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #ccc7c7;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.input-field {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #aa2c16;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.btn:active {
  background-color: #441442;
}

.links {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.separator {
  margin: 0 8px;
  color: #bbb7b7;
}

.dashboard-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
}



.balance-info {
  font-size: 16px;
  color: #dbd5d5;
  margin-bottom: 16px;
}

.dashboard-info {
  text-align: center;
}

.user-info{
  color: rgb(209, 206, 206);
}